**Question 1**: Given some sample data, write a program to answer the following: <a href="https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0">click here to access the required data set</a>

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

- Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
- What metric would you report for this dataset?
- What is its value?

In [1]:
import pandas as pd

df = pd.read_csv("2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

### Sanity checking the information that was given
- [X] 100 sneaker shops
- [X] Data is over a 30 day window
- [X] AOV of $3145.13

In [3]:
len(df["shop_id"].unique()) # ✅ 100 unique sneaker shops

100

In [12]:
df["created_at"].min(), df["created_at"].max() # ✅ data spans the 30 day period of 3/1/2017 - 3/30/17

('2017-03-01 0:08:09', '2017-03-30 9:55:00')

In [14]:
sum(df["order_amount"])/len(df["order_id"]) # ✅ Naive AOV of $3145.13

3145.128